# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
cache: packages
branches:
    only:
        - master
latex: false

matrix:
 include:
 - r: release
   os: linux
 - r: release
   os: osx
 - r: devel
   os: linux

env:
  global:
    - R_BUILD_ARGS="--no-build-vignettes --no-manual"
    - R_CHECK_ARGS="--no-build-vignettes --no-manual --timings"
    - _R_CHECK_TIMINGS_="0"

warnings_are_errors: false

r_build_args: --no-build-vignettes --no-manual
r_check_args: --no-build-vignettes --no-manual --timings

deploy:
  - provider: script
    script: Rscript -e 'covr::codecov()'
    on:
      branch: services

before_cache: Rscript -e 'remotes::install_cran("devtools"); remotes::install_cran("pkgdown"); remotes::install_version("rmarkdown", "1.15")' 
deploy:
  - provider: script
    script: Rscript -e 'devtools::install(); pkgdown::deploy_site_github()'
    on:
      branch: services
    skip_cleanup: true
